.bg-light {
  /* Global Styles */

  background-color: $body-lg-background-color;
  color: $body-lg-color;
  height: 100vh;

  @for $i from 1 through 6 {
    h#{$i} {
      color: $body-lg-color;
    }
  }

  p {
    color: $black-25;
  }

  .section {
    background-color: inherit;
  }

  .text-gradient {
    background: linear-gradient(
      to right,
      $primary-25 15%,
      $blue 30%,
      $blue-25 40%,
      $green-25 60%,
      $green 80%,
      $primary-50 90%,
      $primary-50 1%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* End Global Styles */

  /* Styles Navbar */

  &__navbar,
  nav {
    background-color: inherit;
    &-button-icon {
      border: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem;
      &:hover {
        cursor: pointer;
      }

      span {
        font-size: 1.25rem;
      }
    }
  }
  /* End Styles Navbar */

  /* Styles Global Carousel */

  &__carousel {
    @media screen and (min-width: 320px) {
      &-social-media {
        position: absolute;
        color: inherit;
        top: 15%;

        display: flex;
        align-items: center;
        font-size: 1rem;
        left: 0;
        width: 100%;

        &::before {
          content: "";
          width: 60%;
          height: 2px;
          background-color: $body-lg-color;
        }
        &::after {
          content: "";
          height: 2px;
          width: 60%;
          background-color: $body-lg-color;
        }

        a {
          margin: 0.25rem;
          color: inherit;
          display: inline-flex;
          align-items: center;
          &:hover,
          &:active {
            color: $primary-50;
            cursor: pointer;
          }

          &:first-child {
            margin-left: 1.5rem;
          }

          &:last-child {
            margin-right: 1.5rem;
          }
        }
      }
    }

    @media screen and (min-width: 765px) {
      &-social-media {
        flex-direction: column;
        font-size: 1.8rem;
        width: auto;
        height: 100%;
        top: 0;

        &::before {
          content: "";
          min-height: 250px;
          width: 2px;
          background-color: $body-lg-color;
        }
        &::after {
          content: "";
          width: 2px;
          background-color: $body-lg-color;
          min-height: 165px;
        }

        a {
          &:first-child {
            margin-top: 2rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }

          &:last-child {
            margin-bottom: 2rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
          }
        }
      }
    }

    /* Styles global step*/

    &-steps {
      position: fixed;
      color: inherit;
      right: 0;
      display: flex;
      flex-direction: column;
      z-index: 5;
      width: 4rem;
      margin: 2rem 0.5rem;
      top: 35%;
      &-item {
        font-size: 0.75rem;
        position: relative;
        padding: 1.2rem 0rem;
        color: $body-lg-color;

        &:hover,
        &:active,
        &:visited {
          color: $primary-50;
          cursor: pointer;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &.item-seleted {
          font-size: 1.35rem;
          color: $primary-50;
        }
      }
    }

    /* End  global step*/
  }

  /* End Global Carousel */

  /* Styles Home Screen */
  .home-screen {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;

    @media screen and (min-width: 320px) {
      &__title {
        margin-bottom: 9rem;
        vertical-align: bottom;
      }

      &__button-down {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          &:first-child {
            font-size: 4rem;
          }
        }
      }
    }
    @media screen and (min-width: 765px) {
      margin-bottom: 15rem;
      &__title {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }
    }
  }

  /* End Home Screen */

  /* Styles About Screen */
  .about-screen {
    margin-bottom: 10rem;

    @media screen and (min-width: 320px) {
      &__content-img {
        border: 1px solid $body-lg-color;
        padding: 1.5rem;
        position: relative;
        height: 270px;
        width: 80%;
      }

      &__image {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 100%;
        z-index: 3;

        img {
          max-height: 270px;
        }
      }
      &__dots {
        position: absolute;
        bottom: -3.5rem;
        right: -2.5rem;
      }
    }
    @media screen and (min-width: 964px) {
      &__content-img {
        width: 100%;
      }
    }
  }
  /* End About Screen */

  /* Styles Project Screen */
  .project-screen {
    margin-bottom: 5rem;
    &__title {
      margin-bottom: 5rem;
    }
    .carousel__item {
      width: 100%;
      padding: 0.5rem;

      &-content {
        text-align: center;

        background: $beige-light;
        padding: 1rem 1.5rem;

        border-radius: 1rem;
        position: relative;
      }
      &-picture {
        margin-bottom: 1rem;
        img {
          border-radius: 1rem;
          object-fit: contain;
          width: auto;
          max-height: 151px;
        }
      }
      &-description {
        background: linear-gradient(to top, $gray-25 15%, $black-25 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 50px;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 10rem;

      .carousel__item {
        padding: 9rem 2.5rem 2.5rem;
        width: 90%;

        &-content {
          text-align: right;

          border-radius: 3rem;
          padding: 2rem 5rem;
        }
        &-picture {
          position: absolute;
          top: -40%;

          left: 3rem;
          img {
            border-radius: 0;
            max-height: 251px;
          }
        }
        &-description {
          padding-top: 1rem;
          text-align: left;
          height: 100px;
        }
      }
    }
  }

  /* End Project Screen */

  /* Styles Skill Screen */
  .skill-screen {
    margin-bottom: 5rem;
    position: relative;
    &__content-skill {
      width: 100%;
      border-radius: 1rem;
      background-color: $body-lg-background-color;
    }
    &__image {
      display: none;
    }
    &__list {
      color: $black-25;
      padding: 0.5rem;

      li {
        color: inherit;
      }
    }

    @media screen and (min-width: 765px) {
      margin-bottom: 10rem;
      &__content {
        display: flex;
        justify-content: space-around;
      }
    }
  }
  /* End Skill Screen */
}
