body,
.bg-dark {
  /* Global Styles */

  background-color: $body-background-color;
  color: $body-color;
  height: 100vh;

  @for $i from 1 through 6 {
    h#{$i} {
      color: $body-color;
    }
  }

  p {
    color: inherit;
  }

  .text-gradient {
    background: linear-gradient(
      to right,
      $primary-25 15%,
      $blue 30%,
      $blue-25 40%,
      $green-25 60%,
      $green 80%,
      $primary-50 90%,
      $primary-50 1%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* End Global Styles */

  /* Styles Navbar */

  &__navbar,
  nav {
    background-color: inherit;
    &-button-icon {
      border: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem;
      &:hover {
        cursor: pointer;
      }

      span {
        color: $body-color;
        font-size: 1.25rem;
      }
    }
  }
  /* End Styles Navbar */

  /* Styles Global Carousel */

  &__carousel {
    &-social-media {
      position: absolute;
      color: inherit;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.8rem;

      &::before {
        content: "";
        min-height: 250px;
        width: 2px;
        background-color: $body-color;
      }
      &::after {
        content: "";
        width: 2px;
        background-color: $body-color;
        min-height: 165px;
      }

      a {
        margin: 0.5rem;
        color: inherit;
        &:hover,
        &:active {
          color: $primary-50;
          cursor: pointer;
        }

        &:first-child {
          margin-top: 2rem;
        }

        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }

    /* Styles global step*/

    &-steps {
      position: fixed;
      color: inherit;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 3rem;
      margin: 2rem 0.5rem;
      top: 45%;
      &-item {
        font-size: 0.5rem;
        position: relative;
        &:hover,
        &:active {
          color: $primary-50;
          cursor: pointer;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &.item-seleted {
          font-size: 1rem;
          color: $primary-50;
        }
      }
    }

    /* End  global step*/
  }

  /* End Global Carousel */

  /* Styles Home Screen */
  .home-screen {
    text-align: center;
    width: 100%;
    height: 100%;

    &__title {
      vertical-align: bottom;
    }

    &__button-down {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        &:first-child {
          font-size: 4rem;
        }
      }
    }
  }

  /* End Home Screen */
}
