body,
.bg-light {
  /* Global Styles */

  background-color: $body-lg-background-color;
  color: $body-lg-color;

  @for $i from 1 through 6 {
    h#{$i} {
      color: $body-lg-color;
    }
  }

  nav {
    background-color: inherit;
  }

  /* End global Styles */

  /* Styles global carousel */

  &__carousel {
    &-social-media {
      &::before {
        content: "";

        background-color: $body-lg-color;
      }
      &::after {
        content: "";

        background-color: $body-lg-color;
      }
    }

    /* Styles global step*/

    &-steps {
      &-item {
        &:hover,
        &:active {
          color: $primary-50;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &.item-seleted {
          color: $primary-50;
        }
      }
    }

    /* End  global step*/
  }

  /* End global carousel */
}
