// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,500&display=swap');
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



// Dark

$body-background-color: black;
$body-color: $beige-lighter;
$primary-75: #3E065F;
$primary-50: #700B97;
$primary-25: #8E05C2;
// Light

$body-lg-background-color: #F9F5EB;
$body-lg-color: #000;
$primary-lg-75: #1C3879;
$primary-lg-50: #607EAA;
$primary-lg-25: #8E05C2;

