// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,500&display=swap");
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$gray: #94a1b2;
$beige-light: #d0d1cd;
$beige-lighter: #fffffe;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Dark

$primary-75: #3e065f;
$primary-50: #7f5af0;
$primary-25: #5a67f0;
$blue: #5ab8f0;
$blue-25: #5aeaf0;
$green: #61f05a;
$green-25: #5af0a4;
$black: #16161a;
$black-25: #2b2b32;
$gray-50: #72757e;
$gray-25: #94a1b2;

$body-background-color: $black;
$body-color: $beige-lighter;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $primary-50;
$link: $primary-25;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Light

$body-lg-background-color: #f9f5eb;
$body-lg-color: $body-background-color;
